.TotalCostContainer {
  display: flex;
  flex-direction: row;
  margin: 40px 0 40px 0px;
  margin-left: 7%;
}

.Siema h1 {
  width: 300px;
  height: 50px;
}

.Siema button {
  width: 100px;
  height: 60px;
}