.TotalCostContainer {
  display: flex;
  flex-direction: row;
  margin: 40px 0 40px 0px;
  margin-left: 7%;
}

.MessageError {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin: 30px 30px 50px 15px;
}