.NavItem { /*mobile SideDrawer <li> */
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}

.NavItem a { /*mobile SideDrawer <a> */
  display: block;
  padding: 10px;
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.NavItem a.active {
  background-color: rgba(211, 211, 211, 0.2);
  border-radius: 10px;
  color: red;
}

.NavItem a:before { 
  content: "";
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  margin-right: 30px;
  opacity: 0.8;
  vertical-align: middle;
}

.NavItem:nth-child(2) a:before { /*:nth-child(1) is logo */ 
  background-image: url(../../../../assets/house.png);
}

.NavItem:nth-child(3) a:before {
  background-image: url(../../../../assets/list.png);
}

.NavItem:nth-child(4) a:before {
  background-image: url(../../../../assets/sunglasses.png);
}

.NavItem:nth-child(4) {
  margin-top: 80px;
  border-top: 1px solid black;
  padding-top: 30px;
}

@media (min-width: 480px) { /*desktop <li> */
  .NavItem {   
    margin: 0px;
    padding: 0px;
    width: 140px;
    margin-right: 12px;
    border: none;
  }

  .NavItem:nth-child(4) {
    margin: 0px;
    padding: 0px;
    border: none;
  }

  .NavItem a {
    /* for desktop */
    text-align: center; 
    font-size: 22px;
    padding: 10px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
  }

  .NavItem a:hover { /* for desktop */ 
    color: rgba(255, 255, 255, 0.6);
  }

  .NavItem a.active { /* for desktop */ 
    background-color: transparent;
    color: white;
    border-bottom: 3px solid red;
    border-radius: 3px;
  }

  .NavItem a:before {
    display: none;
  }
}