.Button {
  appearance: none;
  cursor: pointer;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  box-shadow: 1px 1px 1px dimgray;
  transition: 0.3s;
}

.Continue {
  background-color: #84c00c;
}

.Continue:hover {
  background-color: #669509;
}

.Back {
  background-color: #f11616;
}

.Back:hover {
  background-color: #b40b0b;
}

.Button:disabled {
  color: lightgray;
  cursor: not-allowed;
}

.Button:focus {
  outline: none;
}

.SubmitButton {
  width: 100%;
  background-color: #84c00c;
  font-size: 16px;
  margin-top: 30px;
}

.SubmitButton:hover {
  background-color: #669509;
}

.SubmitButton:disabled {
  cursor: not-allowed;
  background-color: #dbf99f;
  color: #333;
}