.MessageError {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin: 30px 30px 50px 15px;
}

.MessageErrorWithBorder {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 30px 30px 50px 15px;
}
