.OrdersCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.EmptyOrderCard p {
	position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin: 30px 30px 50px 15px;
}

.BackToHome {
	list-style-type: none;
	color: red;
}