.OrdersCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.EmptyOrderCard {
  max-width: 35%;
  min-width: 290px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 2px 2px dimgray;
  margin: 30px 30px 30px 15px;
}

.EmptyOrderCard p {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.BackToHome {
  list-style-type: none;
  color: red;
}
