.CheckoutContainer {
  display: flex;
	justify-content: center;
}

.ContentContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.TextContainer {
	height: 230px;
	width: 250px;
	margin-top: 30px;
	border-radius: 15px;
	padding: 25px 25px 40px 25px;
	background-color: white;
	box-shadow: 2px 2px 2px dimgray;
	opacity: 0.9;
}

.TextContainer h2 {
	margin-bottom: 15px;
}

.IngredientsList {
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
	min-width: 300px;
	max-width: 400px;
}

.LiItem {
	width: 50%;
	max-height: 30px;
	list-style-type: none;
  padding: 0.5em 2em 0.5em 2em;
	margin: 10px;
	color: white;
	font-size: 20px;
	border-radius: 5px;
	background-color: rgba(211, 211, 211, 0.1);
}

.LiItem::before {
  content: "\2713";
  color:rgb(0, 189, 0);
  font-weight: bold;
  display: inline-block;
  width: 2em;
}

.ArrowContainer {
	position: relative;
	height: 40px;
}

.Arrow {
	position: absolute;
	right: 2px;
	width: 40px;
	height: 40px;
	background-image: url(../../assets/arrow.png);
	transition: 0.4s;
}

.ButtonsContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin: 30px 0px;
}

.ButtonsContainer p:first-child {
	margin-right: 10%;
}

@media (max-width: 599px) {
	.Arrow {
		transform: rotate(90deg);
	}
}