* {
  padding: 0;
  margin: 0;
}

p {
  font-size: 20px;
  padding: 10px;
  margin-left: 20px;
}

.Sum {
   color: blue;
}

.FreeDelivery {
  color: red;
}

.LotOfIngredients {
  font-size: 25px;
  font-weight: bold;
}

